/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.list-unstyled {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

button {
  border: none;
  -moz-padding-end: 60px;
  padding-inline-end: 0px;
  padding-block-end: 0px;
  -moz-padding-start: 0px;
  padding-inline-start: 0px; }

h1 {
  margin: 0 0 0 0; }

header {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  padding: 1em 1em 1em 1em;
  background-color: white;
  vertical-align: middle; }
  header h1 {
    display: inline-block;
    width: 80%; }

main {
  width: 100%; }

body {
  background-color: ghostwhite;
  font-family: "Roboto Condensed", sans-serif; }

section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 1em 1em 1em; }

article {
  width: 100%;
  margin: 0 auto; }

.big-input {
  width: 100%;
  padding: 1em 1em 1em 1em;
  font-size: 1em; }
  .big-input:focus {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    border: 1px solid deepskyblue; }

.big-button {
  padding: 0.5em 3em 0.5em 3em; }

.colorful-button {
  background-color: skyblue; }
  .colorful-button:hover {
    background-color: deepskyblue; }

.list-container {
  margin-top: 1em; }

#taskList li {
  margin-bottom: 0.3em;
  padding: 0.5em;
  border-bottom: 0.3em solid skyblue;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  transition: all 0.1s ease-in-out;
  flex-basis: 100%; }
  #taskList li:hover {
    background-color: ghostwhite;
    border-bottom: 0.3em solid deepskyblue; }
  #taskList li ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: columns; }
  #taskList li input {
    margin: 0.5em 0.5em 0.5em 0.5em; }
  #taskList li.done {
    text-decoration: line-through;
    background-color: mediumslateblue !important;
    border-bottom: 0.3em solid blue;
    color: white; }

.error {
  border: 1px solid red !important; }

